* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-size: 16px; /* set the font size accross the entire home page to 16 px*/
}

header {
    padding: 20px; /* add 20 px of padding around entire header*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff; /*  set the headers text color to white */
}

header h1 {
    display: inline-block; /* force the h1 tag and nav tag onto the same line by making them inline block */
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6; /* Force the three letters "SEO" in Horiseon to a different color */
}

header nav {
    padding-top: 15px; /* add 15px padding to the top of the nav */
    margin-right: 20px;  /* set the right margin of the nav to 20 px*/
    float: right; /* force the Nav to float to the right of the h1 tag*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}



header  ul li {
    /* force a list to be vertical instead of horizontal. This also removes the bullets off a list, so I removed the code */
    display: inline-block; 
    margin-left: 25px;
}

a { /* make all the links text white and strips off text decoration*/
    color: #ffffff;
    text-decoration: none; /* strips off the bullets off an ordered list*/
}


    

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /* loads the hero image in the header of index.html*/
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.img-height-200
{
    max-height: 200px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand , .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}



.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
